.whole {
    width: 95%;
    background-color: aqua;
    height: 100px;
    display: 'flex';
    flex-direction: 'row';
    margin: 10px auto 10px auto;
}

.image-container {
    width: 80%;
    padding: 100px;
}

.image {
    width: 95%;
    aspect-ratio: 0;
}

@media (max-width:481px) {
    /* telefono */
    .whole {
        width: 95%;
        background-color: aqua;
        height: 100px;
    }
}

@media (max-width:961px) {
    /* tablet */
}
