#latest {
  margin: 30px 10px;
}

#l-whole {
  width: 100%;
}

#l-title {
  margin: 10px 0;
  font-weight: bold;
  color: #00629B;
}

@media (max-width: 600px) {
  /* telefono */

  #l-whole {
    width: 100%;
  }

  .article-list {
    display: block;
  }

}

@media (min-width: 600px) {
  /* grandi telefoni e piccoli tablet */

  #l-whole {
    width: 100%;
  }

  .article-list {
    display: flex;
  }

}

@media (min-width: 1008px) {
  /* grandi tablet e laptop */

  #l-whole {
    width: 100%;
  }
  
  .article-list {
    display: flex;
  }

}

@media (min-width: 1320px) {
  /* grandi laptop e desktop */

  #l-whole {
    width: 1300px;
    margin: 30px auto;
}
  
  .article-list {
    display: flex;
  }

}
