#articles {
  margin: 30px 10px;
}

#a-whole {
  width: 100%;
}

#a-title {
  margin: 10px 0;
  font-weight: bold;
  color: #00629B;
}

@media (max-width: 600px) {
  /* telefono */

  #a-whole {
    width: 100%;
  }

}

@media (min-width: 600px) {
  /* grandi telefoni e piccoli tablet */

  #a-whole {
    width: 100%;
  }

}

@media (min-width: 1008px) {
  /* grandi tablet e laptop */

  #a-whole {
    width: 100%;
  }

}

@media (min-width: 1320px) {
  /* grandi laptop e desktop */

  #a-whole {
    width: 1300px;
    margin: 30px auto;
  }

}
