#page {
    position: absolute;
    width: 80%;
    transform: translate(10%, 0);
    z-index: -1;
}

.text-justify {
font-size: large;
  text-align: justify;
  color: black;
}

#page-title {
    padding: 50px 0 20px;
    font-size: xx-large;
}
