#highlight {
    width: 67%;
    height: 60vh;
    margin: 30px auto 30px auto;
    display: flex;
}

#left-h {
    width: 50%;
    height: 60vh;
    display: flex;
}

#right-h {
    width: 50%;
}

#upper-right-h, #lower-right-h {
    height: 30vh;
    display: flex;
}