#highlight {
    margin: 30px 10px;
}

@media (max-width: 600px) {
    /* telefono */

    #h-whole {
        width: 100%;
        display: block;
    }
    
    #h-left {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: row;
    }
    
    #h-right {
        width: 100%;
    }
    
    #h-upper-right, #h-lower-right {
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 600px) {
    /* grandi telefoni e piccoli tablet */

    #h-whole {
        width: 100%;
        display: block;
    }
    
    #h-left {
        width: 100%;
        height: 58vh;
        display: flex;
    }
    
    #h-right {
        width: 100%;
    }
    
    #h-upper-right, #h-lower-right {
        height: 29vh;
        display: flex;
    }

}

@media (min-width: 1008px) {
    /* grandi tablet e laptop */

    #h-whole {
        width: 100%;
        display: flex;
    }
    
    #h-left {
        width: 50%;
        height: 50vh;
        display: flex;
    }
    
    #h-right {
        width: 50%;
    }
    
    #h-upper-right, #h-lower-right {
        height: 25vh;
        display: flex;
    }

}

@media (min-width: 1320px) {
    /* grandi laptop e desktop */

    #highlight {
        width: 1300px;
        margin: 30px auto;
    }

    #h-whole {
        width: 1300px;
        display: flex;
    }
    
    #h-left {
        width: 50%;
        height: 50vh;
        display: flex;
    }
    
    #h-right {
        width: 50%;
    }
    
    #h-upper-right, #h-lower-right {
        height: 25vh;
        display: flex;
    }

}
